{% extends "base.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        <div>
            {{ form.csrf_token }}
        </div>
        {% for field in form if field.name != 'csrf_token' %}
            <div>
                {{ field.label() }}
                {% if field.name != 'remember_me' %}
                    {{ field(class="form-control") }}
                {% else %}
                    {{ field() }}
                {% endif %}
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </form>
{% endblock %}