{% extends "base.html" %}

{% block content %}
<h1 class="alert alert-dark" align="right">Python Art</h1>
<header class="header">
    <nav class="navbar navbar-expand-lg fixed-top py-3">
        <div class="margin_left">
            <div id="navbarSupportedContentUp" class="collapse navbar-collapse">
                <form class="login_form" method="post" enctype="multipart/form-data" action="/main" novalidate>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <div class="input__wrapper">
                           <input type="file" name="pw" id="input__file" class="input input__file" multiple>
                           <label for="input__file" class="button_plate">
                              <span class="input__file-button-text">Выберите файл</span>
                           </label>
                        </div>
                    </li>
                    <li>
                        <button type="submit" class="button_plate" name="submit">Открыть</button>
                    </li>

                </ul>
                </form>
                <button class="button_plate"><a style="color: white" href="{{processed_image}}" download>Скачать</a></button>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="sidebar_l">
	    <ul class="navbar-nav ml-auto">
            <form action="/draw_image" method="post">
                <ul class="navbar-nav ml-auto">
                    {% for field in fields %}
                        <li style="margin-left:22%; color:white;"><p style="width:80%; align: center;">{{field[0]}}</p></li>
                        <li style="margin-left:12%;"><input value="{{field[1]}}" style="width:80%;" name="field{{field[2]}}"></li>
                    {% endfor %}
                </ul>
                <button type="submit" class="button_plate" style=" width: 70%; margin-left:12%; margin-top: 15%" >Конвертировать</button>
            </form>
        </ul>
	</div>
    <div class="sidebar_r">

	</div>
    <div class="content">
        {% if current_image != '' %}
            <img style="width:100%; height:80%;" src="{{processed_image}}" class="pr_img">
        {% endif %}
	</div>

<meta http-equiv="refresh">
</main>
{% endblock %}